################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SensorLibrary/.vs/SensorLibrary
/SensorLibrary/obj
